<div class="header-component">
  <div class="container">
    <img class="logo header-logo" src="../../assets/img/logo-placeholder.png" routerLink=""/>
    <div class="header-navigation">
      <i class="fa fa-search" placement="bottom" ngbTooltip="Szukaj" (click)="showSearchInput()"></i>
      <input #searchInput type="text" class="header-search-input" (keydown)="onKeydown($event)" [hidden]="this.state.hideSearchInput" (input)="searchInputChanged()" [(ngModel)]="this.state.searchInputValue"/>
      <i class="fa fa-user" placement="bottom" ngbTooltip="Konto" *ngIf="authService.email==null" (click)="openUserPanel()"></i>
      <i class="fa fa-sign-out" placement="bottom" ngbTooltip="Wyloguj" *ngIf="authService.email!=null" (click)="logout()"></i>
      <i class="fa fa-shopping-basket" (click)="changeCartVisibility()" (mouseenter)="showCart()" (mouseleave)="hideCart()">
        <div class="header-cart-items-count" *ngIf="this.cartService.state.cart.length > 0">
          {{this.cartService.getCartItemsCount()}}
        </div>
        <div class="header-cart" [hidden]="!this.state.cardVisibility && this.state.hideCart">
          <div class="header-cart-header">
            <p>Twój koszyk</p>
          </div>
          <ul class="col-md-12">
            <li class="col-md-12" *ngFor="let item of this.cartService.state.cart" [routerLink]="['/product', item.id]" (click)="resetSearch()">
              <div class="col-md-12 header-cart-item">
                <div class="col-md-3 header-cart-item-image">
                  <img [src]="item.product.images.length > 0 ? 'data:image/jpg;base64,'+item.product.images[0].content : 'assets/img/brak_zdjecia.gif'">
                </div>
                <div class="col-md-5">
                  <p class="header-cart-item-name">{{item.product.name}}</p>
                  <p class="header-cart-item-category">Rozmiar: {{item.size}}</p>
                  <p class="header-cart-item-category">Ilość: {{item.amount}}</p>
                </div>
                <p class="col-md-3 header-cart-item-price">{{item.product.price * item.amount | number : '.2'}}zł</p>
                <div class="col-md-1">
                  <i class="fa fa-close" (click)="removeItem(item.product.id, item.size)"></i>
                </div>
              </div>
            </li>
          </ul>
          <div class="header-cart-footer col-md-12" *ngIf="this.cartService.state.cart.length > 0">
            <div class="header-cart-footer-count col-md-6">Ilość: {{this.cartService.getCartItemsCount()}}</div>
            <div class="header-cart-footer-price col-md-6">Łącznie: {{this.cartService.getCartSummary() | number : '.2'}}zł</div>
          </div>
          <div class="header-cart-empty col-md-12" *ngIf="this.cartService.state.cart.length == 0">
            Koszyk jest pusty
          </div>
        </div>
      </i>
      <div class="header-search-hints" [hidden]="this.state.hideSearchInput || this.state.searchInputValue.length == 0">
        <ul>
          <li *ngFor="let product of this.state.searchedProducts" [routerLink]="['/product', product.id]" (click)="resetSearch()">{{product.name}}</li>
        </ul>
      </div>
    </div>
    <div class="header-categories">
      <div class="header-categories-items">
        <ul class="list-inline">
          <li class="list-inline-item" (click)="resetSearch()" routerLink="/products/{{category.id}}" *ngFor="let category of this.state.categories">{{category.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
