.header-component {
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
  height: 96px !important;
}

.header-logo {
  margin-top: 10px;
  margin-bottom: 6px;
  height: 56px !important;
}

.header-logo:hover {
  cursor: pointer;
}

.header-categories {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-categories-items {
  text-align: center;
  margin: auto;
}

.header-categories-items li {
  color: #616161;
  letter-spacing: .8px;
  line-height: 1.54;
  padding: 0 10px;
}

.header-categories-items li:hover {
  color: #030303;
  text-decoration: underline;
  cursor: pointer;
}

.header-navigation {
  position: absolute;
  right: 5px;
  top: 0;
}

.header-navigation i {
  padding: 10px;
  color: #616161;
  font-size: 20px;
}

.header-navigation i:hover {
  color: #030303;
  cursor: pointer;
}

.header-search-input {
  border: none;
  border-bottom: 1px solid #b3b3b3;
  width: 200px;
}

.header-search-input:focus {
  outline: none;
  border-bottom: 1px solid #030303;
}

.header-search-hints {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 240px;
  max-height: 120px;
  overflow: hidden;
  z-index: 999;
}

.header-search-hints ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-search-hints li {
  width: 100%;
  height: 40px;
  background: white;
  padding: 5px;
}

.header-search-hints li span {
  letter-spacing: .8px;
  line-height: 1.54;
  padding-left: 5px;
}

.header-search-hints li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-cart {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 300px;
  z-index: 999;
  background: white;
  min-height: 100px;
  right: 0;
  letter-spacing: 1.5px;
}

.header-cart-header {
  margin: 0 5px;
  padding: 5px;
  border-bottom: 1px solid #ced4da;
}

.header-cart-header p {
  line-height: 30px;
  font-size: 14px;
  letter-spacing: .8px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.header-cart-footer {
  border-top: 1px solid #ced4da;
  font-size: 14px;
  padding: 5px !important;
  display: inline-flex;
}

.header-cart-footer-price {
  text-align: right;
  font-weight: bold;
}

.header-cart-footer-count {
  text-align: left;
}

.header-cart-empty {
  text-align: center;
  font-size: 16px;
  color: #ced4da;
  margin-top: 20px;
}

.header-cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-cart li {
  width: 100%;
  height: 60px;
  background: white;
  padding: 5px;
  margin-bottom: 10px;
}

.header-cart li span {
  letter-spacing: .8px;
  line-height: 1.54;
  padding-left: 5px;
}

.header-cart li:hover {
  cursor: pointer;
}

.header-cart-item {
  padding: 0;
  display: inline-flex;
}

.header-cart-item p {
  margin-bottom: 3px;
}

.header-cart-item-image {
  padding-right: 5px;
}

.header-cart-item-image img {
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
}

.header-cart-item-name {
  font-size: 12px;
}

.header-cart-item-category {
  font-size: 10px;
  color: #9ca2a7;
}

.header-cart-item-price {
  font-size: 12px;
  float: right;
}

.header-cart-items-count {
  font-size: 10px;
  position: absolute;
  right: 3px;
  background: #444;
  color: white;
  padding: 3px;
  border-radius: 5px;
  bottom: 0;
}
