<div class="footer-component">
  <div class="container">
    <div *ngIf="this.state.category1!=null" routerLink="/products/{{this.state.category1.id}}" class="footer-category col-md-4">
      <div>
        <p class="footer-category-main">{{this.state.category1.name}}</p>
        <p *ngFor="let subCategory of this.state.category1.subCategories">{{subCategory.name}}</p>
      </div>
    </div>
    <div *ngIf="this.state.category2!=null" routerLink="/products/{{this.state.category2.id}}" class="footer-category col-md-4">
      <div>
        <p class="footer-category-main">{{this.state.category2.name}}</p>
        <p *ngFor="let subCategory of this.state.category2.subCategories">{{subCategory.name}}</p>
      </div>
    </div>
    <div *ngIf="this.state.category3!=null" routerLink="/products/{{this.state.category3.id}}" class="footer-category col-md-4">
      <div>
        <p class="footer-category-main">{{this.state.category3.name}}</p>
        <p *ngFor="let subCategory of this.state.category3.subCategories">{{subCategory.name}}</p>
      </div>
    </div>
  </div>
</div>
