.footer-component {
  border-top: 1px solid #e6e6e7;
  padding-top: 10px;
  display: block;
  height: 100px;
  margin-top: 10px;
}

.footer-category {
  cursor: pointer;
  padding: 10px !important;
  display: inline-flex;
}

.footer-category:focus {
  outline: none;
}

.footer-category > div {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  color: #666;
}

.footer-category-main {
  font-weight: bold;
}
