.product-details {
  margin-top: 10px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  padding: 0;
}

ngb-carousel {
  height: -webkit-fill-available;
}

ngb-carousel:focus {
  outline: none;
}

ngb-carousel div {
  height: -webkit-fill-available;
}

ngb-carousel img {
  min-height: 600px;
  height: -webkit-fill-available;
  width: 50%;
}

.brand-logo p {
  margin-left: 10%;
}

.brand-logo img {
  margin-left: 10%;
  margin-right: 40%;
}

.product-details-category {
  font-size: 11px;
  font-weight: 300;
  line-height: 1.45;
}

.line {
  margin: 15px 10px;
  border-bottom: 1px solid #e6e6e7;
}

.product-details-price {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
}

.product-details-price-annotation {
  margin-bottom: 0;
  font-size: 9px;
  color: #b3b3b3;
}

.product-details-delivery {
  display: inline-flex;
}

.product-details-delivery-value {
  color: #888888;
}

.product-details-color {
  margin-right: 20px;
  border: 1px solid #b3b3b3;
  background: #f4f4f4;
  color: #676767;
  padding: 5px;
  cursor: pointer;
}

.product-details-add-to-cart {
  background: #181818;
  color: #fff;
  border: 0;
  padding: 8px 17px !important;
  margin-right: 1px;
  font-size: 14px;
  text-align: center;
}

.product-details-property {
  margin-bottom: 20px;
}

.product-details-property-label {
  font-size: 16px;
  font-weight: 500;
  color: #181818;
}

.product-details-similar {
  margin-top: 20px;
}

.product-details-similar p {
  font-size: 16px;
  font-weight: 500;
  color: #181818;
  margin-bottom: 10px;
  margin-left: 20px;
}

.product-sim-container {
  height: 450px;
  display: inline-block;
  padding-left: 10px;
  cursor: pointer;
}

.product-sim-container:focus {
  outline: none;
}

.product-sim-container p {
  font-size: 12px !important;
  margin: 0 !important;
}

.product-sim-content {
  height: 400px;
  margin-bottom: 10px;
  padding: 10px !important;
}

.product-sim-content:focus {
  outline: none;
}

.product-sim-image {
  height: 300px;
}

.product-sim-image img {
  width: 100%;
  height: 100%;
}

.product-sim-desc {
  position: relative;
  height: 60px;
  padding: 5px;
}

.product-sim-desc p {
  margin-bottom: 5px;
}

.product-sim-price {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-weight: bold;
}

.product-sim-name {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.54;
  letter-spacing: .8px;
  color: #181818;
}

.product-details-name {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.card-body {
  padding: 20px 10px !important;
}

.card-header {
  cursor: pointer !important;
  padding: 0 !important;
}

.btn {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #181818 !important;
}

.btn:hover {
  text-decoration: none !important;
  background-color: transparent !important;
}

.btn:focus {
  text-decoration: none !important;
}

.card {
  margin-left: 15px !important;
}
