<div class="container">
  <p class="breadcrumb" style="margin: 10px -15px">
    <span class="breadcrumb-item" [routerLink]="['/']">Strona główna </span>
    <span class="breadcrumb-item pointer-default" *ngFor="let breadcrumb of this.state.breadcrumbs">{{breadcrumb}}</span>
  </p>
  <div class="product-details row col-md-12">
    <div class="col-md-9">
      <ngb-carousel *ngIf="this.state.product != null && this.state.product.images != null && this.state.product.images.length > 0">
        <ng-template ngbSlide *ngFor="let image of this.state.images">
          <img [src]="'data:image/jpg;base64,'+image.primaryImageContent">
          <img [src]="'data:image/jpg;base64,'+image.secondaryImageContent">
        </ng-template>
      </ngb-carousel>

      <div class="col-md-12 product-details-similar">
        <p>Podobne produkty</p>
        <div *ngFor="let product of this.state.similarProducts" class="col-md-4 product-sim-container">
          <div class="product-sim-content col-md-12" routerLink='/product/{{product.id}}'>
            <div class="product-sim-image col-md-12">
              <img [src]="product.images.length > 0 ? 'data:image/jpg;base64,'+product.images[0].content : 'assets/img/brak_zdjecia.gif'">
            </div>
            <div class="product-sim-desc col-md-12">
              <div class="col-md-9">
                <p class="product-sim-name">{{product.name}}</p>
              </div>
              <div class="product-sim-price col-md-3">{{product.price | number : '.2'}}zł</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="brand-logo col-md-3">
      <p class="product-details-name">{{this.state.product.name}}</p>
      <img class="col-md-6" *ngIf="this.state.product != null && this.state.product.brandLogo != null" [src]="'data:image/jpg;base64,'+this.state.product.brandLogo">
      <div class="line col-md-12"></div>
      <p class="product-details-price">{{this.state.product.price | number : '.2'}}zł</p>
      <div class="line col-md-12"></div>
      <div style="margin-left: 10%;margin-bottom: 20px;" >
        <ul class="list-inline">
          <li class="list-inline-item product-details-color" *ngFor="let color of this.state.colors" (click)="setColor(color)">{{color}}</li>
        </ul>
        <label class="col-md-8">
        Wybierz rozmiar
        <select style="margin-left: 15px;" [(ngModel)]="state.size">
          <option *ngFor="let s of this.state.sizes">{{s}}</option>
        </select>
        </label>
        <button class="col-md-8 product-details-add-to-cart" (click)="addToCart()">Do koszyka</button>
      </div>
      <div class="line col-md-12"></div>
      <ngb-accordion>
        <ngb-panel title="Materiał">
          <ng-template ngbPanelContent>
            {{this.state.product.fabric}}
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Krój">
          <ng-template ngbPanelContent>
            {{this.state.product.fashion}}
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Design">
          <ng-template ngbPanelContent>
            <div class="product-details-property-value" [innerHTML]="prepareStyle()"></div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Darmowa przesyłka i zwrot">
          <ng-template ngbPanelContent>
            <div class="col-md-12 product-details-delivery">
              <div class="col-md-6">Darmowa przesyłka i zwrot</div>
              <div class="col-md-6 product-details-delivery-value">Na wszystkie zamówienia</div>
            </div>
            <div class="col-md-12 product-details-delivery">
              <div class="col-md-6">Darmowy zwrot</div>
              <div class="col-md-6 product-details-delivery-value">Do 14 dni</div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <!--<div class="product-details-property">
        <p class="product-details-property-label">Materiał</p>
        <p>{{this.state.product.fabric}}</p>
      </div>
      <div class="line col-md-12"></div>
      <div class="product-details-property">
        <p class="product-details-property-label">Krój</p>
        <p>{{this.state.product.fashion}}</p>
      </div>
      <div class="line col-md-12"></div>
      <div class="product-details-property">
        <p class="product-details-property-label">Design</p>
        <div class="product-details-property-value" [innerHTML]="prepareStyle()"></div>
      </div>-->
    </div>
  </div>
  <app-footer class="col-md-12"></app-footer>
</div>
