.products-list {
  height: 100%;
  display: inline-block;
}
.product-container {
  height: 450px;
  display: inline-block;
  padding-left: 10px;
  cursor: pointer;
}
.product-content {
  height: 440px;
  margin-bottom: 10px;
  padding: 10px !important;
}
.product-image {
  height: 360px;
}
.product-image img {
  width: 100%;
  height: 100%;
}
.product-desc {
  position: relative;
  height: 60px;
  padding: 5px;
}
.product-desc p {
  margin-bottom: 5px;
}
.product-price {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-weight: bold;
}
.product-name {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.54;
  letter-spacing: .8px;
  color: #181818;
}
.product-category {
  color: #acacad;
  font-size: 11px;
  font-weight: 300;
}
.pagination {
  padding-left: 40%;
}
.page-link {
  color: #181818;
}
.page-link:hover {
  cursor: pointer;
}
.active-page {
  font-weight: bold;
}
.not-allowed {
  background: #eee;
  cursor: not-allowed !important;
}
nav {
  margin-top: 20px;
}
.products-list-header {
  padding: 10px;
}
.products-category-name {
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  margin-right: 10px;
}
.products-count {
  font-size: 14px;
  color: #b3b3b3;
}
.products-options {
  float: right;
}
.products-options button {
  transition: opacity .3s ease-in-out,margin-right .3s ease-in-out;
  margin-right: 0;
  opacity: 1;
  font-size: 12px;
  letter-spacing: .8px;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  min-height: 30px;
  line-height: 30px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: #030303;
  color: white;
}
.products-options i {
  position: relative;
  margin-right: 10px;
  font-size: 12px!important;
}
.products-sort-options {
  float: right;
  margin-right: 10px;
  min-height: 30px;
  line-height: 30px;
  font-size: 12px;
  letter-spacing: .8px;
  font-weight: 600;
  padding-left: 5px;
}
.products-sort-options option {
  line-height: 30px;
  font-size: 12px;
  letter-spacing: .8px;
  font-weight: 600;
}

.products-list-filters {
  padding: 5px 20px;
}

.products-list-filters span {
  font-size: 10px;
  padding: 5px 10px;
  background: #666666;
  border-radius: 3px;
  color: #ffffff;
  margin-right: 5px;
}

.products-list-filters i {
  margin-left: 5px;
  cursor: pointer;
}
