<div class="products-list col-md-12">
  <p class="breadcrumb">
    <span class="breadcrumb-item" [routerLink]="['/']">Strona główna </span>
    <span class="breadcrumb-item pointer-default" *ngFor="let breadcrumb of this.state.breadcrumbs">{{breadcrumb}}</span>
  </p>
  <div class="products-list-header" *ngIf="state.categoryId != null">
    <span class="products-category-name">{{state.categoryName}}</span><span class="products-count">Produkty: {{this.productsService.state.productsCount}}</span>
    <div class="products-options">
      <button (click)="openFilterModal()"><i class="fa fa-sliders"></i> Filtruj</button>
    </div>
    <select class="col-md-3 form-control products-sort-options" (change)="changeSortOption()" [(ngModel)]="this.state.sortOption">
      <option *ngFor="let sortOption of this.state.sortOptions" [ngValue]="sortOption">{{sortOption}}</option>
    </select>
  </div>
  <div class="col-md-12 products-list-filters">
    <span *ngFor="let size of this.productsService.state.productsFilter.sizes">Rozmiar {{size}}<i class="fa fa-close" (click)="removeSizeFilter(size)"></i></span>
    <span *ngFor="let color of this.productsService.state.productsFilter.colors">{{color}}<i class="fa fa-close" (click)="removeColorFilter(color)"></i></span>
  </div>
  <div *ngFor="let product of this.productsService.state.products" class="col-md-4 product-container">
    <div class="product-content col-md-12" [routerLink]="['/product', product.id]">
      <div class="product-image col-md-12">
        <img [src]="product.images.length > 0 ? 'data:image/jpg;base64,'+product.images[0].content : 'assets/img/brak_zdjecia.gif'">
      </div>
      <div class="product-desc col-md-12">
        <div class="col-md-9">
          <p class="product-name">{{product.name}}</p>
          <p class="product-category">{{state.categoryName}}</p>
        </div>
        <div class="product-price col-md-3">{{product.price | number : '.2'}}zł</div>
      </div>
    </div>
  </div>
  <nav aria-label="navigation" *ngIf="state.categoryId != null && productsService.state.productsCount > 0">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" (click)="prevPage()"><i class="fa fa-angle-left"></i></a></li>
      <li class="page-item"><a class="page-link" (click)="goPage(state.pagination.prevPage)" [ngClass]="[state.pagination.prevPage === productsService.state.productsFilter.currentPage ? 'active-page': '', state.pagination.prevPage > productsService.state.maxPage ? 'not-allowed' : '']">{{state.pagination.prevPage}}</a></li>
      <li class="page-item"><a class="page-link" (click)="goPage(state.pagination.page)" [ngClass]="[state.pagination.page === productsService.state.productsFilter.currentPage ? 'active-page' : '', state.pagination.page > productsService.state.maxPage ? 'not-allowed' : '']">{{state.pagination.page}}</a></li>
      <li class="page-item"><a class="page-link" (click)="goPage(state.pagination.nextPage)" [ngClass]="[state.pagination.nextPage === productsService.state.productsFilter.currentPage ? 'active-page' : '', state.pagination.nextPage > productsService.state.maxPage ? 'not-allowed' : '']">{{state.pagination.nextPage}}</a></li>
      <li class="page-item"><a class="page-link" (click)="nextPage()"><i class="fa fa-angle-right"></i></a></li>
    </ul>
  </nav>
</div>
