.products-filter-close {
  font-size: 20px;
  border: none;
  background: white;
  padding: 8px;
  cursor: pointer;
}
.products-filter-modal > .modal-dialog {
  width: 400px !important;
  height: 100% !important;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}
.products-filter-modal > .modal-dialog > .modal-content {
  height: 100% !important;
  border: none !important;
  border-radius: 0 !important;
}
.products-filter-property {
  font-weight: 600;
  color: #b3b3b3;
  font-size: 11px;
}
.products-filter-property-border {
  background-color: #e6e6e7;
  content: "";
  flex: 1 1 auto;
  height: 1px;
  line-height: 1px;
  float: right;
  margin-top: 10px;
}
.products-filter-size {
  margin-top: 10px;
}
.products-filter-size input {
  margin-right: 5px;
}
.products-filter-colors {
  max-height: 400px;
  overflow-y: scroll;
}
.products-filter-price input {
  float: right;
  width: 80%;
}
.ng5-slider .ng5-slider-pointer {
  background-color: #676767 !important;
}
.products-filter-submit {
  padding: 10px;
  margin-top: 20px;
  transition: opacity .3s ease-in-out,margin-right .3s ease-in-out;
  opacity: 1;
  font-size: 12px;
  letter-spacing: .8px;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  min-height: 30px;
  line-height: 30px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: #030303;
  color: white;
}
