<div class="modal-header">
  <i class="fa fa-arrow-right products-filter-close" (click)="activeModal.dismiss('Cross click')"></i>
  <h4 class="modal-title">Filtruj produkty</h4>
</div>
<div class="modal-body">
  <div class="col-md-12">
    <span class="col-md-2 products-filter-property">Rozmiar</span>
    <div class="col-md-10 products-filter-property-border"></div>
  </div>
  <div>
    <label class="col-md-12 products-filter-size" *ngFor="let size of this.state.sizes; let i = index">
      <input type="checkbox" [checked]="this.state.checkedSizes.includes(size)" (click)="clickSize(size)">
      {{size}}
    </label>
  </div>
  <div class="col-md-12" style="margin-top: 20px;">
    <span class="col-md-2 products-filter-property">Cena</span>
    <div class="col-md-10 products-filter-property-border"></div>
  </div>
  <ng5-slider (valueChange)="submitFilter()" [(value)]="this.state.priceFrom" [(highValue)]="this.state.priceTo" [options]="options"></ng5-slider>
  <div class="col-md-12" style="margin-top: 20px;">
    <span class="col-md-2 products-filter-property">Kolor</span>
    <div class="col-md-10 products-filter-property-border"></div>
  </div>
  <div class="products-filter-colors">
    <label class="col-md-12 products-filter-size" *ngFor="let color of this.state.colors; let i = index">
      <input type="checkbox" [checked]="this.state.checkedColors.includes(color)" (click)="clickColor(color)">
      {{color}}
    </label>
  </div>
  <!--<button class="products-filter-submit col-md-12" (click)="submitFilter()">Pokaż wyniki</button>-->
</div>
