html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #181818;
}

.logo {
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
  margin: auto;
  display: block;
}

.container {
  position: relative;
}

li:focus {
  outline: none;
}

img:focus {
  outline: none;
}

.breadcrumb-item {
  cursor: pointer;
}

.pointer-default {
  cursor: default !important;
}

.mat-snack-bar-container {
  position: absolute;
  top: 40%;
  left: 40%;
}

.mat-simple-snackbar span {
  margin-left: 30%;
}
