<div class="products-component">
  <div class="container">
    <div class="row col-md-12">
      <app-products-navigation (changeSelectedCategory)="changeSelectedCategory($event)" class="col-md-2"></app-products-navigation>
      <app-products-list [selectedCategoryId]="this.state.selectedCategoryId" class="col-md-10"></app-products-list>
      <app-footer class="col-md-12"></app-footer>
    </div>
  </div>
</div>
