.products-component {
  min-height: -webkit-fill-available;
  margin-top: 10px;
}
.products-component > div {
  height: -webkit-fill-available;
}
.products-component > div > div {
  height: -webkit-fill-available;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  padding: 0;
}
