<!--<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>-->
<div class="modal-body">
  <div class="new-user-section">
    <h2>Szybka rejestracja</h2>
    <form name="signupForm" [formGroup]="signupForm" (ngSubmit)=onSingupSubmit()>
      <input placeholder="Adres e-mailowy" [formControl]="emailCtrl">
      <input placeholder="Hasło" [formControl]="passwordCtrl">
      <button class="login-button" type="submit" [disabled]="!signupForm.valid">Zarejestruj</button>
    </form>
  </div>
  <div class="login-section">
    <h2>Posiadasz już swoje konto</h2>
    <form name="signinForm" [formGroup]="signinForm" (ngSubmit)=onSinginSubmit()>
      <input placeholder="Adres e-mailowy" [formControl]="emailCtrl">
      <input placeholder="Hasło" [formControl]="passwordCtrl">
      <button class="login-button" type="submit" [disabled]="!signinForm.valid">Zaloguj</button>
    </form>
  </div>
</div>
<!--
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
-->
