.user-modal h2 {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0;
  margin-bottom: 30px;
  line-height: 1.15;
}
.user-modal > .modal-dialog {
  width: 600px;
}
.user-modal .modal-content {
  width: 600px;
}
.user-modal .modal-body {
  padding: 0;
  width: 600px;
}
.user-modal .modal-body > div {
  height: 400px;
  display: table-cell;
  width: 50%;
  padding: 30px;
}
.new-user-section {
  background-color: #e6e6e7;
}
.user-modal input {
  padding: 7px 40px 6px 12px;
  margin: 0;
  height: 40px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 17px;
  background-color: #f4f4f5;
  border-radius: 0;
  border: 1px solid #f4f4f5;
  transition: background .2s ease-in,border-color .2s linear;
  margin-bottom: 15px;
  width: 100%;
}
.login-button {
  background-color: #66bb6a;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: all .2s ease;
  height: 44px;
  line-height: 44px;
  padding: 0 5px;
  font-size: 13px;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 400;
  width: 100%;
}
button:hover {
  background-color: #529354;
}
