.products-navigation {
  height: 100%;
  border-right: 1px solid #e6e6e7;
  padding-right: 10px;
  display: inline-block;
}
.products-category1 {
  padding-top: 5px;
  color: #616161;
  border-bottom: 1px solid #e6e6e7;
}
.products-category1:hover {
  cursor: pointer;
}
.products-category2 {
  color: #616161;
  padding-left: 15px;
}
.products-category2:hover {
  cursor: pointer;
}
.activeCategory {
  font-weight:bold;
  color: black;
}
