<div class="products-navigation col-md-12">
  <div class="products-category1 col-md-12" *ngFor="let category of this.state.categories">
    <p (click)="changeCategoryVisibility(category.id)" [ngClass]="{'activeCategory': category.visible}">{{category.name}}</p>
    <div [ngbCollapse]="!category.visible || category.subCategories.length==0">
      <div class="products-category2 col-md-12" *ngFor="let cat of category.subCategories">
        <p (click)="changeCategoryVisibility(cat.id)" [ngClass]="{'activeCategory': cat.visible}">{{cat.name}}</p>
      </div>
    </div>
  </div>
</div>
