<div class="products-component">
  <div class="container">
    <div class="col-md-12 banner-main" routerLink="/products/1">
      <div>
        Jesienne nowości
      </div>
    </div>
    <div class="col-md-6 banner-add" routerLink="/products/2">
      <div>
        Obuwie
      </div>
    </div>
    <div class="col-md-6 banner-add" routerLink="/products/3">
      <div>
        Akcesoria
      </div>
    </div>
    <app-footer class="col-md-12"></app-footer>
  </div>
</div>
