.banner-main {
  padding: 10px !important;
  cursor: pointer;
}

.banner-main > div {
  padding: 100px 10px;
  border: 1px solid #ced4da;
  text-align: center;
  font-size: 40px;
  color: #888;
}

.banner-add {
  cursor: pointer;
  padding: 10px !important;
  display: inline-block;
}

.banner-add > div {
  border: 1px solid #ced4da;
  padding: 80px 10px;
  text-align: center;
  font-size: 30px;
  color: #888;
}
